In [1]:
# if
#  
# else 
# elif

In [ ]:
# if condtion:
#     block of code 
# else:
#     block of code

In [2]:
# if condtion:
#     block of code 
# elif multiple condtion:
#     block of code
# else:
#     block of code

In [4]:
x = 5 
if x >10:
    print("x bda hai 10 se ")

In [5]:
x = 5 
if x <10:
    print("x bda hai 10 se ")

x bda hai 10 se

In [6]:
x = 20 
if x <10:
    print("x bda hai 10 se ")
else:
    print("x chota hai 10 se ")

x chota hai 10 se

In [8]:
x = 5 
if x==10:
    print("x chota hai 10 se")
elif x ==5:
    print("x is 5")
else:
    print("x bda hai 10 se")

x is 5

In [ ]:
x = 5 
if x >10:
 lst = [1,2,3,5]
 lst.append(x)

 print(lst)
else:
 lst = [1,2,3,5]
 lst.remove(x)
 print(lst)

In [9]:
lst = [1,2,3,4,5,5,5]
for x in lst:
    print(x)

1
2
3
4
5
5
5

In [10]:
for x  in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [11]:
for x  in range(1, 10):
    print(x)

1
2
3
4
5
6
7
8
9

In [12]:
for x  in range(2, 22, 2):
    print(x)

2
4
6
8
10
12
14
16
18
20

In [13]:
DCT = {"name" : "ritik" , "age" : 22 , "phone" : 1234567890}
print(DCT)

{'name': 'ritik', 'age': 22, 'phone': 1234567890}

In [14]:
for x in DCT.keys():
    print(x)

name
age
phone

In [15]:
for x in DCT.values():
    print(x)

ritik
22
1234567890

In [16]:
for x in DCT.items():
    print(x)

('name', 'ritik')
('age', 22)
('phone', 1234567890)

In [17]:
def add():
    x = 5 
    y = 10 
    print(x+y)

In [18]:
add()

15

In [19]:
add()

15

In [20]:
add()

15

In [21]:
def add(x,y):
    print(x+y)
    print(x*y)

In [22]:
add(5,10)

15
50

In [23]:
print("hello world")

hello world

In [27]:
def classroom(name,branch ="cse"):
    print(f"my name is {name} and my branch is {branch}")


# CELL:
classroom(name = "ritik")
classroom(name = "ritik" , branch = "cse-ai")

my name is ritik and my branch is cse
my name is ritik and my branch is cse-ai

In [28]:
# return
def add(x,y):
    return x+y

In [29]:
add(5,10)

15

In [1]:
class Student:
    def info(self):
        name = "ritik"
        age = 22
        print(name)
        print(age)
        print("this is the info method")
st_obj=Student()
st_obj.info()

ritik
22
this is the info method

In [5]:
class A:
    name = "Ritik"
class B(A):
    classroom = "cse"

obj=B()

In [6]:
obj.name

'Ritik'

In [7]:
class Grandfather:
    pass
class Father(Grandfather):
    pass
class Child(Father):
    pass
obj =Child()

In [ ]:
class Father:
    pass
class Uncle:
    pass
class Child(Father, Uncle):
    pass
obj =Child()

In [12]:
class Father:
    father_name = "ritik"
    def info(self):
        print("this is the info method")
class Uncle:
    def information(self):
        print("this is the info method")
    uncle_name= "mohanlal"
class Child(Father, Uncle):
    name = "ritik kumaar"
obj =Child()

In [14]:
obj.information()

this is the info method

In [9]:
obj.name

'ritik kumaar'

In [10]:
obj.father_name

'ritik'

In [11]:
obj.uncle_name

'mohanlal'

In [17]:
class Father:
    father_name = "Ritik kumar " ## public variable
    _father_name = "ritik kumar" # protected variable
    __father_name = "Rohit kumar" # private variable


obj = Father()
print(obj.father_name)
print(obj._father_name)
print(obj.__father_name)

Ritik kumar
ritik kumar

AttributeError: 'Father' object has no attribute '__father_name'

In [ ]:
obj._Father__father_name ### private access

'Rohit kumar'

In [19]:
class A:
    def info(self):
        print("this is A class method")
class B(A):
    def info(self):
        print("this is B class method")
obj = B()
obj.info()

this is B class method

In [20]:
class A:
    def info(self, name):
        print("this is first method",name)

    def info(self, age):
        print("this is second method",age)

A().info("ritik")
# A().info(22)

this is second method ritik

In [24]:
class Student:
    def __init__(self,name, age):
        self.name = name
        self.age = age
obj=Student(name="ritik",age=22)
obj.age
obj.name

'ritik'

In [ ]:
# <__main__.Student at 0x2369230c990>


# super()

In [26]:
class Student:
    def __init__(self,name, age):
        self.name = name
        self.age = age


    def display(self):
        print(self.name)
obj=Student(name="ritik",age=22)
obj1=Student(name="rohit",age=50)
obj.age
obj.name
obj.display()

ritik

In [27]:
obj1.display()

rohit